/*code css de la page d'acceuil*/
body 
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
}
p 
{
    color: #222;
    text-align: center;
}
a
{
    color: rgb(243, 12, 89);
}
h1 
{
   font-family: 'Abril Fatface', cursive;
    color: rgb(243, 12, 89);
}
h3
{
    color: rgb(243, 12, 89);
}
#conteneur 
{
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    margin-left: 5em;
    margin-right: 5em;
}
nav 
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img 
{
    height: 120px;
}
header
{
    padding: 20px;
    width: 75%;
    flex-basis: 100%;
    box-sizing: border-box;
    flex-direction: row;
}
section 
{   
    display: flex;
    width: 100%;   
    margin: 2em;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.img1
{
    width: 50%;
}
.img2
{
    width: 25%;
    flex-basis: 100%;
    box-sizing: border-box;
}
.section1
{
    display: flex;
    width: 50%;
    flex-basis: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
.section2
{
    display: flex;
    width: 50%;
    flex-basis: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
.section3
{
    display: flex;
    width: 50%;
    flex-basis: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
.section4
{
    display: flex;
    width: 50%;
    flex-basis: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
.section5
{
    display: flex;
    width: 50%;
    flex-basis: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
.section6
{
    display: flex;
    width: 50%;
    flex-basis: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
header
{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    margin-bottom: 2em;
}
#network1 
{
    flex: 1;
    background-color: #1DA1F2;
    text-decoration: none;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    display: flex;
 
}
#network1 a 
{

    text-decoration: none;
    color: white;
    font-weight: bold;    
}
#network1 img 
{
float: left;
padding-left: 1em;
}
#network2
{
    flex: 1;
    background-color: #353cff;
    text-decoration: none;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    display: flex;
 
}
#network2 a 
{

    text-decoration: none;
    color: white;
    font-weight: bold;    
}
#network2 img 
{
float: left;
padding-left: 1em;
}
#network3 
{
    flex: 1;
    background-color: #000000;
    text-decoration: none;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    display: flex;
 
}
#network3 a 
{

    text-decoration: none;
    color: white;
    font-weight: bold;    
}
#network3 img 
{
float: left;
padding-left: 1em;
}